<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.tm4e.language_pack.shellscript"
            id="org.eclipse.shellwax.sh"
            name="Shell Script"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.shellwax.sh"
            describer="org.eclipse.shellwax.internal.BashShebangContentDescriber"
            file-patterns="*"
            id="org.eclipse.shellwax.shebang"
            name="Shell Script (with Shebang)"
            priority="normal">
      </content-type>
</extension>
<extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.shellwax.sh"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
    <extension
         point="org.eclipse.tm4e.registry.grammars">
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.shellwax.sh"
            scopeName="source.shell">
      </scopeNameContentTypeBinding>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.shellwax.shebang"
            scopeName="source.shell">
      </scopeNameContentTypeBinding>
</extension>
    <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.tm4e.ui.text.TMPresentationReconciler"
            contentType="org.eclipse.shellwax.sh">
      </presentationReconciler>
</extension>
<extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.eclipse.shellwax.internal.BashLanguageServer"
            id="org.eclipse.shellwax.ls"
            label="Bash Language Server">
      </server>
      <contentTypeMapping
            contentType="org.eclipse.shellwax.sh"
            id="org.eclipse.shellwax.ls">
      </contentTypeMapping>
      <contentTypeMapping
            contentType="org.eclipse.shellwax.shebang"
            id="org.eclipse.shellwax.ls">
      </contentTypeMapping>
</extension>


<extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
        name="Shell Script launch"
        delegate="org.eclipse.shellwax.internal.run.ShLaunchConfig"
        modes="run"
        id="org.eclipse.shellwax.shlaunchonfigtype">
    </launchConfigurationType>
</extension>

<extension
    point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
        class="org.eclipse.shellwax.internal.run.ShLaunchShortcut"
        id="org.eclipse.shellwax.shshortcut"
        label="Shell Script"
        icon="icons/sh.png"
        modes="run">
        <contextualLaunch>
            <enablement>
                <with
                    variable="selection">
                    <count
                        value="+">
                    </count>
                     <iterate operator="and">
            <adapt type="org.eclipse.core.resources.IFile">
              <test property="org.eclipse.core.resources.extension"
                    value="sh">
              </test>
            </adapt>
          </iterate>
                </with>
            </enablement>
        </contextualLaunch>
    </shortcut>
</extension>


<extension
    point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        class="org.eclipse.shellwax.internal.run.ShTabGroup"
        id="org.eclipse.shellwax.launchConfigurationTabGroup"
        type="org.eclipse.shellwax.shlaunchonfigtype">
    </launchConfigurationTabGroup>
</extension>
 <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.shellwax.shlaunchonfigtype"
            icon="icons/sh.png"
            id="org.eclipse.shellwax.launchImage">
      </launchConfigurationTypeImage>
</extension>
<extension
         id="ShellDocumentSetupParticipant"
         name="Shell Document Setup Participant"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            extensions="sh"
            class="org.eclipse.shellwax.internal.ShDocumentSetupParticipant">
      </participant>
   </extension>
   <extension point="org.eclipse.ui.genericeditor.icons">
     <icon
     contentType="org.eclipse.shellwax.sh"
     icon="icons/sh.png" />
     <icon
     contentType="org.eclipse.shellwax.shebang"
     icon="icons/sh.png" />
   </extension>
</plugin>
